<link href="../css/styles.css" rel="stylesheet" type="text/css">
<h2>Login Form</h2>
<form>
    <div class="login">
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">Login</button>
      </div>
      <div class="signup">
        <p>No account? <a href="/account/registration">Sign Up</a></p>
      </div>
</form>