<link href="../css/styles.css" rel="stylesheet" type="text/css">

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!--Message block for errors-->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2> Welcome <%= locals.accountData.account_firstname %>, You're logged in !</h2>
<p>Update Account Information <a href="/account/update">Here</a></p>
<% if(locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") {%>
  <p>Add/Update Inventory <a href="/inv">Here</a></p>
<% } else { %>
  <p>Click on our different car types to view our selection!</p>
<% } %>