<link href="../css/styles.css" rel="stylesheet" type="text/css">
<h2>Registration Form</h2>
<form>
    <label for="account_firstname">First Name:</label>
    <input type="text" name="account_firstname">

    <label for="account_lastname">Last Name:</label>
    <input type="text" name="account_lastname">

    <label for="account_email">Email:</label>
    <input type="text" name="account_email">

    <label for="account_password">Password:</label>
    <input type="text" name="account_password">
</form>