<h2>Welcome to CSE Motors</h1>

<!--Message block for errors-->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="DMC-Delorean">
    
    <ul>
        <h3>DMC Delorean</h3>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
        
    </ul>
    <p>Own Today!</p>
</div>

<article>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest riude on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (4/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80s livin and love it!" (5/5)</li>
        </ul>
    </div>
    
    <section id="upgrades">
        <h2>DMC Delorean Upgrades</h2>
        <div id="upgrade-boxes">
            <div id="flux">
                <img src="../images/upgrades/flux-cap.png">
                <a>Flux Capacitor</a>
            </div>
            <div id="decals">
                <img src="../images/upgrades/flame.jpg">
                <a>Flame Decals</a>
            </div>
            <div id="stickers">
                <img src="../images/upgrades/bumper_sticker.jpg">
                <a>Bumper Stickers</a>
            </div>
            <div id="caps">
                <img src="../images/upgrades/hub-cap.jpg">
                <a>Hub Caps</a>
            </div>
        </div>
    </section>
</article>