<!--Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!--Message block for errors-->

<% messages() %>

<h2>Add New Classification</h2>

<!-- Add Classification Form -->
<div class="newClass-container">
    <p><i>FIELD IS REQUIRED.</i></p>
    <form id="newClass">
        <p>Must be Alphabetic Characters Only</p>
        <label for="newClassName"><b>Classification Name</b></label>
        <input type="text" name="class_name" id="class_name" required pattern="^[A-Za-z]{1,8}$" value="<%= locals.classification_name %>">
        <button type="submit">Add Classification</button>
    </form>
</div>