<link href="/css/styles.css" rel="stylesheet" type="text/css">

<!--Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!--Message block for errors-->

<% messages() %>

<h2>Add to Inventory</h2>

<!-- Add Inventory Form -->
<div class="newInv-container">
    <p><i>ALL FIELDS ARE REQUIRED.</i></p>
    <form id="newInv">
        <label>Classification: </label>
        <input type="text" name="classification_name" id="newClassification" 
        required pattern="^[A-Za-z]{1-8}$" value="<% locals.classification_name %>">
        <button id="addClassName" type="submit">Add Classification</button>
    </form>
</div>