<link href="/css/styles.css" rel="stylesheet" type="text/css">
<!-- The content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A Message Block to display potential error messages -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<ul>
    <li><a href="/inv/newClassification/" title="Add a new vehicle classification">Add New Classification</a></li>
    <li><a href="/inv/newVehicle/" title="Add a new vehicle">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<% classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enabled to use this page.</noscript>
<script src="../../public/js/inventory.js"></script>