<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy <%= year %> - Stephanie Ventura - CSE 340 App</p>
  <p id="trigger500"><a href="/inv/500">Trigger 500</a></p>
</footer>